@import "bootstrap/scss/bootstrap";
@import "font-awesome";

body {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  text-align: center;
}
.icon-green {
  color: lightgreen;
}

.icon-red {
  color: red;
}

